@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body {
    margin: 0;
    background-color: #f4f6f8;
    width: 400px;
    font-family: Inter, sans-serif;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 40px;
    color: #6706CE;
}

h2 {
    font-size: 22px;
    margin: 2.5px 0;
    font-weight: 500;
}

h3 {
    margin: 0;
    font-size: 15px;
}

p {
    margin: 0;
    font-size: 15px;
}

.panel {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
}

.extras {
    margin: 20px 0;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
}

.extra-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.extra-details {
    display: flex;
    flex-direction: column;
}

.extra-info > p {
    font-size: 12px;
}

.extra-instruction {
    font-size: 12.5px;
    margin: 5px 10px;
}

.extra-image {
    max-width: 90%;
    max-height: 200px;
    align-self: center;
    margin: 10px 0;
}

button {
    background-color: rgba(131,21,249);
    border: 0;
    border-radius: 8px;
    padding: 0px 10px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
}

.links {
    display: flex;
    gap: 10px;
}

.link {
    color: #171717;
    text-decoration: none;
    font-size: 13px;
    background: #fff;
    padding: 7.5px 15px;
    border-radius: 0.25rem;
}

.options {
    margin: 20px 0;
}

.option {
    display: flex;
    width: 100%;
    gap: 10px;
    margin: 5px 0;
    justify-content: center;
}

.option-input {
    flex-grow: 1;
    padding: 5px;
    border-radius: 0.25rem;
    border: 0.5px solid;
    font-size: 12.5px;
    box-sizing: border-box;
    max-width: 100%;
}

.option-explainer {
    font-size: 12px;
}

select.option-input {
    max-width: calc(100% - 68px);
}